/* wwwroot/css/custom.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: #343a40;
  color: #ffffff;
}

.navbar {
  border-bottom: 2px solid #ffffff;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
}

.container {
  margin-top: 20px;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #cccccc;
}
